// COLORS
$primary-color: #0052CC;
$secondary-color:#172B4D;

$white-color: #c4cbd6;

$dark-grey: #011e52;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
